
  <mat-toolbar class="text-[#482673] bg-[#fff]">
    <div class="flex flex-row w-screen justify-between">
      <span class="">COMPANY LOGO</span>

      <div class="">
        <a href="#" class="m-2">
          <button mat-stroked-button class="">Home page</button>
        </a>
        <a href="#" class="m-2">
          <button mat-stroked-button>Director's page</button>
        </a>
        <a href="#" class="m-2">
          <button mat-stroked-button>Investor's page</button>
        </a>
      </div>

      <div class="pr-4">
        <form>
          <input type="text" name="search"
                 class="focus:outline-0 focus:outline-transparent border-slate-200 border-[1px] outline-1 bg-transparent rounded-full p-1 focus:border-0 focus:bg-neutral-600 focus:bg-opacity-25"
                 placeholder="Search">
          <mat-icon>search</mat-icon>
        </form>
      </div>

    </div>
  </mat-toolbar>





