<section class="register">
  <div class="header">
    <h3>Sign Up</h3>
    <p>Its quick and easy</p>
  </div>

  <div>
    <form #form="ngForm" class="flex flex-col"  >
      <div>
        <mat-form-field class="p-3">
          <input #fname type="text" matInput [(ngModel)]="fName" name="first_name" [value]="profile?.fName ?? ''" ngModel placeholder="First Name" required/>
        </mat-form-field>
        <mat-form-field class="p-3">
          <input #lname type="text" matInput [(ngModel)]="lName" name="last_name" [value]="profile?.lName ?? ''" ngModel placeholder="Last Name" required/>
        </mat-form-field>
      </div>



      <div>
      <mat-form-field class="p-3">
        <input type="email" matInput id="email" name="email" [(ngModel)]="email" [value]="session?.user?.email||'sss@dd.ccom'" ngModel disabled placeholder="Email"/>
      </mat-form-field>
      </div>

      <div><button type="submit" mat-button color="primary" class="login-button" [mat-dialog-close]="form.value" (click)="updateProfile(fname.value,lname.value)" >{{ loading ? 'Loading ...' : 'Update' }}</button></div>
    </form>
  </div>
</section>
