<div class="h-screen">
  <div class="">
    <mat-toolbar color="accent">
      <div class="grid">
      <div class="justify-self-stretch justify-self-start">
        <span class="rounded-full bg-amber-100 p-2">COMPANY LOGO</span>
      </div>
      <div class="p-3 justify-self-stretch justify-self-center">
        <form>
          <mat-form-field>
            <input type="text" name="search" matInput placeholder="Search" ><mat-icon>search</mat-icon>
          </mat-form-field>
        </form>
      </div>
      </div>
    </mat-toolbar>
  </div>

  <div class="under-nav">
    <div class="sidebar">

    </div>
    <div class="mat-body">

    </div>
  </div>
</div>
