<div class="flex flex-col h-screen">

  <header class="basis-5/6">
  <div class="flex flex-row w-screen h-full">
    <div class="basis-1/2 h-full grid content-center">
      <p class="text-[50px] font-bold text-[#e91e63] p-6 place-self-center">
        COMPANY NAME
      </p>
      <h2 class="place-self-center">
        COMPANY NAME helps you invest in movies/series.
      </h2>

    </div>
    <div class="basis-1/2 h-full grid content-center">
      <mat-card class="w-2/5 place-self-center">
        <mat-card-content>
          <form #form="ngForm" class="flex flex-col"  >
            <mat-form-field class="p-3">
              <input #email type="email" matInput name="email" ngModel placeholder="Email" required/>
            </mat-form-field>
            <button type="submit" mat-button color="primary" class="login-button" (click)="login(email.value)" [disabled]="form.invalid||form.pending">{{ loading ? 'Loading ...' : 'LOG IN' }}</button>
            <button color="warn" (click)="signInUsingGoogle()" mat-button>Sign in using google</button>
          </form>
        </mat-card-content>
      </mat-card>

      <p class="place-self-center pt-6">Investing is the best investment</p>

    </div>
  </div>

  </header>

  <footer class="basis-1/6 place-self-center">
    <p>
      FOOTER
    </p>
  </footer>

</div>
