
<div class="mx-2 my-4 text-purple-900">
    <div class="overflow-visible transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-105 duration-150  rounded-lg shadow-lg" style="width: 300px">
      <mat-card class="text-purple-900">
        <a href="/p/{{card[0].url}}">
        <mat-card-subtitle><!--{{card_header}}-->{{card[0]}}</mat-card-subtitle>
        <mat-card-title><!--{{card_title}}-->{{card[0].postTitle}}</mat-card-title>
        <mat-card-content style="height: 150px">
          <p>est Time to close: {{card[0].estimatedTimeToClose}}</p>
          <p class="">{{card[0].postSummary}}</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        </a>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <p>Category: {{card[0].categories}}</p>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar ></mat-progress-bar><!--mode="indeterminate"-->
        </mat-card-footer>
      </mat-card>
    </div>
</div>
