
<div class="mx-2 my-4 text-purple-900">
<div class="overflow-visible transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-105 duration-150  rounded-lg shadow-lg" style="width: 300px">
  <mat-card class="text-purple-900">
    <mat-card-subtitle>{{card_header}}</mat-card-subtitle>
    <mat-card-title>{{card_title}}</mat-card-title>
    <mat-card-content style="height: 150px">
      <p>This card has divider and indeterminate progress as footer</p>
      <p class="">The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
        from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
        originally bred for hunting.</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar ></mat-progress-bar><!--mode="indeterminate"-->
    </mat-card-footer>
  </mat-card>
</div>
</div>
